.main-menu {
    margin-top: 55px;
}

.wrp {
    padding: 0 !important;
    overflow: hidden;
    border: rgb(51, 51, 51) 1px solid;
}

.img-photo {
    background: url(../img/Img1.jpg);
}

.img-video {
    background: url(../img/Img2.jpg);
}

.img-music {
    background: url(../img/Img3.jpg);
}

.img-archive {
    background: url(../img/Img4.jpg);
}

.img-photo, .img-video, .img-music, .img-archive {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 50vh;
    color: rgb(0, 255, 200);
}

/* Медіа запити для блоків меню початкової сторінки */

@media (min-width: 560px) and (max-width: 576px) {
    .wrp {
        max-width: 50% !important;
    }
}

@media screen and (max-width: 560px) {
    .img-photo, .img-video, .img-music, .img-archive {
        height: 25vh;
    }
}

a {
    text-decoration: none !important;
}

/*-- Animation Keyframes --*/
/*@-webkit-keyframes neon {
    from {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
    }

    to {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2;
    }
}

@keyframes neon {
    from {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
    }

    to {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2;
    }
}*/
