@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/MainPage/css")


        <!-- Контент головного меню -->
        <!-- portfolio -->
        <div class="container-fluid">
            <div class="row mx-auto"></div>
                <a href="/Home/PhotoAlbum">
                    <div class="col-sm-6 parent-block">
                        <div class="menu-left-top scale-menu">
                            <div class="text-centered-inside-block">
                                <h1>Photo</h1>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="col-sm-6 parent-block">
                        <div class="menu-right-top scale-menu">
                            <div class="text-centered-inside-block">
                                <h1>Video</h1>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="col-sm-6 parent-block">
                        <div class="menu-left-bottom scale-menu">
                            <div class="text-centered-inside-block">
                                <h1>Music</h1>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="col-sm-6 parent-block">
                        <div class="menu-right-bottom scale-menu">
                            <div class="text-centered-inside-block">
                                <h1>Text</h1>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        <!-- Підключення скрпитів -->
        @*<script src="Scripts/jquery-3.3.1.min.js"></script>
        <script src="Scripts/bootstrap.min.js"></script>*@

