@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/MainPage/css")

<!--HOME MENU-->
<div class="container-fluid main-menu">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-6 wrp">
            <a href="/Photo/PhotoAlbum">
                <div class="img-photo">
                    <div class="row h-100 text-menu">
                        <div class="col-12 d-flex justify-content-center align-items-end">
                            <h1>Photo</h1>
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            <p>Some description text</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-6 wrp">
            <a href="/Music/Music">
                <div class="img-video">
                    <div class="row h-100 text-menu">
                        <div class="col-12 d-flex justify-content-center align-items-end">
                            <h1>Video</h1>
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            <p>Some description text</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-6 wrp">
            <a href="#">
                <div class="img-music">
                    <div class="row h-100 text-menu">
                        <div class="col-12 d-flex justify-content-center align-items-end">
                            <h1>Music</h1>
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            <p>Some description text</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-6 wrp">
            <a href="#">
                <div class="img-archive">
                    <div class="row h-100 text-menu">
                        <div class="col-12 d-flex justify-content-center align-items-end">
                            <h1>Archive</h1>
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            <p>Some description text</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
